@media (max-width: 414px) {
    

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(ellipse farthest-corner at 45px 95px , #fff 50%, rgba(0, 255, 0, 0) 0%, #00ff00 50%);
}
.titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15%;
   
    font-family: monospace
}
.subtitulo{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-align: center;

    font-family: monospace
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.boton button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    animation: flash 1.8s infinite;
}



.imagen{
    position: absolute;
    text-align: center;
   bottom: -5px;
   overflow: hidden;
}


.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
   }
   @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0.4;

    }
   }
   @keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
}
25%, 75% {
       
    opacity: 0.4;
    }
   }
   .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
   }
}
