@media (max-width: 414px) {
    
.container {
    display: flex;
    flex-direction: column;
   
}
.titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 40%;
    margin-bottom: 1rem;
    font-family: monospace
}
.subtitulo{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 1rem;
}
.imagen{
    text-align: center;
   position: absolute;
   bottom: 0px;
}
.imagen img{
   /*  position: relative; */
   position: relative;
    width: 550px;
    overflow: hidden;
    left: -80px;
}

}