@media (max-width: 414px) {
    
.global{
    width: 100vw;
    height: 100vh;
   
    
}

.container {
    display: flex;
    flex-direction: column;
   
}
.titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20%;
    margin-bottom: 1rem;
    font-family: monospace
}
.subtitulo{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 1rem;
    font-family: monospace
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.boton button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
}


.imagen{
    text-align: center;
   position: absolute;
   bottom: -5px;
}
.imagen img{
   /*  position: relative; */
   position: relative;
    width: 550px;
    overflow: hidden;
    left: -90px;
}

}