@media (max-width: 414px) {
    

.container {
    display: flex;
    flex-direction: column;
    max-height: 896vmin;
    width: 100vmin;
  
}

.titulo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 15%;
   
    font-family: monospace
}
.subtitulo{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-align: center;

    font-family: monospace
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}
.boton button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    animation: flash 1.8s infinite;
}


.imagen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
   background-color: aquamarine;
   
}
.imagen p{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: monospace;
    margin-top: 10px;
}


.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
   }
   @-webkit-keyframes flash {
    0%, 50%, 100% {
    opacity: 1;
    }
   25%, 75% {
    opacity: 0.4;
    
    }
   }
   @keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
       
}
25%, 75% {

    opacity: 0.4;
    }
   }
   .flash {
    -webkit-animation-name: flash;
    animation-name: flash;
   }
}
