@media (max-width: 414px) {
  .titulo {
    font-size: 1.5rem;
    padding: 0;
    margin-top: 100px;
    margin-bottom: -120px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    text-transform: uppercase;
  }

  .search {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: -40px;
  }
  .search input {
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1.4rem;
    height: 50px;
    background-color: transparent;
  }
  .search input:focus {
    outline: none;
  }
  .search input::placeholder {
    padding-left: 5px;
  }

  .guardar {
    display: flex;
    justify-content: center;
    margin-top: 50vh;
  }
  .guardar button {
    border: 1px solid #000;
    border: 10px double #000;
    border-radius: 5px;
    font-size: 1.4rem;
    height: 50px;
    background-color: transparent;
  }
}

@media (max-width: 375px) {
  .guardar {
    margin-top: 40vh;
  }
}
