@media (max-width: 414px) {
.search{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.search input{
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1.4rem;
    background-color: transparent;
}
.search input:focus{
    outline: none;
}
.search input::placeholder{
    padding-left: 5px;
}



}