@media (max-width: 414px) {
  .titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: -30%;
  }
  .subtitulo {
    display: flex;
    width: 75%;
    justify-content: space-between;
  }
  .subtitulo p {
    margin-left: 20px;
  }
  /*  las medidas puestas estan pensadas ya que ninguna criptomoneda supera los 7 digitos en su lectura */
  .precio {
    position: relative;
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: flex-start;
  }
  .precio h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 0;
    margin-left: 150px;
  }
  .search {
    display: flex;
    justify-content: center;
    margin-top: 130px;
  }
  .search input {
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.4rem;
    height: 40px;
    width: 100%;
    background-color: transparent;
  }
  .search input:focus {
    outline: none;
  }
  .search input::placeholder {
    padding-left: 5px;
  }

  .monedas {
    margin-top: 15%;
  }
  .detalles {
    border-top: #000 solid 2px;
    border-bottom: #000 solid 2px;
    display: flex;
  }
  .detalles h2 {
    font-size: 2.1rem;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 5px;
    margin-left: 15px;
    width: 20%;
  }
}
