@media (max-width: 414px) {
  .titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: -30%;
  }
  .subtitulo {
    display: flex;
    width: 75%;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: -10px;
  }
  .subtitulo p {
    margin-left: 20px;
  }

  .search {
    display: flex;
    justify-content: center;
    margin-top: 130px;
  }
  .search input {
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 1.4rem;
    height: 40px;
    width: 100%;
    background-color: transparent;
  }
  .search input:focus {
    outline: none;
  }
  .search input::placeholder {
    padding-left: 5px;
  }
  .renderizado {
    border-top: #000 solid 2px;
    margin-top: 10px;
  }
}
