@media (max-width: 414px) {

    .titulo{
        font-size: 1.5rem;
        font-weight: bold;
        color: #000;
        display: flex;
        justify-content: center;
        margin-top: 20%;
        margin-bottom: -30%;
    }
.search{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.search input{
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1.4rem;
    height: 50px;
    background-color: transparent;
}
.search input:focus{
    outline: none;
}
.search input::placeholder{
    padding-left: 5px;
}

.monedas{
    margin-top: 15%;
  }
.detalles{
    border-top: #000 solid 2px;
    border-bottom: #000 solid 2px;
    display: flex;
    
   
  }
  .detalles h2{
    font-size: 2.2rem;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding: 5px;
    margin-left: 15px;
    width: 20%;
  }


}