@media (max-width: 414px) {
.agregar{
  margin-top: 175vw;
  margin-left: 77vw;
  
}
.agregar button{
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 4.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
}