@media (max-width: 414px) {
  .container{
    width: 100%;
    max-height: 870px;
  }
.agregar{
  margin-top: 175vw;
  margin-left: 77vw;
  
}
.agregar button{
    position: absolute;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 4.5rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    bottom: 0;
    margin-bottom: 50px;
}

.monedas{
  margin-top: 40%;
}
.detalles{
  border-top: #000 solid 2px;
  border-bottom: #000 solid 2px;
  display: flex;
 
}
.detalles h2{
  font-size: 2.2rem;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 5px;
  margin-left: 15px;
  width: 20%;
}
.detalles h3{
  font-size: 1.9rem;
  font-weight: bold;
  color: #000;
  margin: 0;
  padding: 0;
  margin-left: 50px;
}
.cantidad{
  position: relative;
  display: flex;

  width: 150px;
  align-items: center;
  justify-content: flex-start;
}
.quitar{
 position: absolute;
  right: 10px;
  margin-top: 10px;
  color: red;
  align-items: center;
  font-size: 2.2rem;
}


}


@media (max-width: 375px) {
  .agregar{
    margin-top: 160vw;

    
  }


}