@media (max-width: 414px) {
    .container{
    min-height: 8vh;
    width: 100vw;
    background-color: #000000c5;
    position: fixed;
    z-index: 1;
    top: 0px; 
    display: flex;
    justify-content: center;
}
.titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    
    color: #fff;
    font-family: monospace;
    margin-top: 10px;
}
.back{
    color: #fff;
    position: absolute;
    left: 10px;
}
.back button{
    font-size: 1.6rem;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}


}